/* font-family: 'Kaushan Script', cursive;
font-family: 'Lato', sans-serif; 
*/

body {
    background-image: url(img/corkboard.jpg);
    background-repeat: repeat;
}

.navbar {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5rem;

}
.custom-bg-color {
    background-color: #FFFCB9;
}

.nav-item{
    padding: 0 30px 0 30px;
}

.custom-bg-color2 {
    background-color: #cee5ff;
}


header img, .carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 20px;
}


.accordion-button {
    font-family: 'Kaushan Script', cursive;
    margin-top: 20px;
}

.accordion-body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #2e2d2c;
}

li {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.signoff {
    font-family: 'Kaushan Script', cursive;
}

.place_titleGreen {
    font-size: 45px;
    font-family: 'Kaushan Script', cursive;
    color:#56351e;
    background-color: #AFF5E4;
    text-align: center;
    width:500px;
    padding: 20px 0 20px 0;
    margin: 20px auto 20px auto;
    display: block;
}

.place_titleBlue {
    font-size: 45px;
    font-family: 'Kaushan Script', cursive;
    color:#56351e;
    background-color: #cee5ff;
    text-align: center;
    width:500px;
    padding: 20px 0 20px 0;
    margin: 20px auto 20px auto;
    display: block;
}

.date_titleBlue {
    font-size: 36px;
    font-family: 'Kaushan Script', cursive;
    color:#56351e;
    background-color: #cee5ff;
    text-align: center;
    width: 600px;
    padding: 20px 10px 20px 10px;
    margin: 20px auto 20px auto;
    display: block;
}

.place_titleYellow {
    font-size: 45px;
    font-family: 'Kaushan Script', cursive;
    color:#56351e;
    background-color: #FFFCB9;
    text-align: center;
    width:500px;
    padding: 20px 0 20px 0;
    margin: 20px auto 20px auto;
    display: block;
}

.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.postcard img {
    width: 700px;
    height: auto;
    padding: 15px;
    margin: 20px 0 20px 0;
    background-color: whitesmoke;
}

.car img {
    width: 100%;
    height: auto;
}

.postit {
    width: 300px;
    height: 300px;
    padding: 30px;
    text-align: center;
    margin: 20px;
}

.postitM {
    width: 400px;
    height: 300px;
    padding: 30px;
    text-align: center;
    margin: 20px;
}

.postitL {
    width: 450px;
    height: 400px;
    padding: 30px;
    text-align: center;
    margin: 20px;
}

.postitYellow {
    background-color: #FFFCB9;
    box-shadow: 10px 10px #dad69b;
}

.postitBlue {
    background-color: #cee5ff;
    box-shadow: 10px 10px #a8c2de;
}

.postitGreen {
    background-color: #AFF5E4;
    box-shadow: 10px 10px #95cec1;
}

.postit_title {
    font-family: 'Kaushan Script', cursive;
    color: #56351e;
    font-size: 32px;
}

.postit_content{
    font-family: 'Lato', sans-serif;
    color: #2e2d2c;
    font-size: 16px;
}

footer {
    background-color: #FFFCB9;
    color: #2e2d2c;
    font-family: 'Lato', sans-serif; 
    height: 50px;
    padding: 10px;
}

footer p {
    padding: 5px 0 5px 50px;
}

.car img {
    object-fit: scale-down;
    object-position: center;
    height: 75vh;
    overflow: hidden;
}

.numbertext {
    background-color: #cee5ff;
    color: #56351e;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    width: 60px;
    height: 25px;
    text-align: center;
}
.slide {
        background-color: #2e2d2c98;
        padding-bottom: 25px;
}


@media only screen and (min-width: 300px) {
    footer {
        height: 80px;
        padding: 10px;
    }

    
    .postitM {
        width: 100%;
        height: auto;

    }
    
    .postitL {
        width: 100%;
        height: auto;

}

}

@media only screen and (max-width: 992px) {
    header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 20px;
    }
    .carousel {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 20px;
    }

    .postcard img{
        width: 100%;
        height: auto;
      }
      .date_titleBlue {
        width: 100%;
      }

      .place_titleGreen {
        width:100%;
    }

}
